/* Flexible Slide-to-top Accordion Style*/
.st-accordion{
    width: 100%;
    min-width: 240px;
    margin: 0 auto;
}
@media only screen and (min-width: 800px) {
.st-accordion ul {
    margin-left: 25%;
}
}
.st-accordion ul li {
    border-top: 1px solid #ccc;
    padding-top: 40px;
    margin-top: 20px;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a:hover{
    color: rgb(92, 190, 215);
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: rgb(92, 190, 215);
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    line-height:  1.8;
    padding: 0px 4px 40px 4px; 
}
.st-content button {
	margin-bottom: 40px; 
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}