footer {
	background-color: rgb(248, 209, 52);
	color: rgb(1, 56, 76);
}

footer a {
	color: rgb(1, 56, 76);
	text-decoration: underline;
}

footer a:hover {
	color: #fff;
}

.copyright {
	text-align: center;
	padding: 25px 0;
	letter-spacing: 1px;
}

.footer_logo {
	width: 150px;
	margin: 60px auto 30px 
}